.dialogplus {
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
}
.dialogplus a {
    color: inherit;
}
.partial {
    opacity: 1;
    display: inline-block;
    border-radius: 4px;
    cursor: default;
    transition: all .22s;
}
.partial.trail {
    box-shadow: rgb(181, 181, 181) 10px 0px 0px 0px, rgb(181, 181, 181) 16px 0px 0px 0px;
    background-color: rgb(181, 181, 181);
    color: rgb(101, 101, 101);
}
.partial.hl {
    background: #fff;
    color: #000;
}
.partial.rest {
    opacity: .3;
}
.multi {
    display: block;
    cursor: pointer;
}
.multi:hover {
    background: rgba(0,0,0,0.2);
}
.multi.enhanced {
    font-size: 2em !important;
    background: rgba(0,0,0,0.1);
    cursor: default;
}
.csplus {
    font-family: Arial;
    font-weight: bold;
}
.cspt .csplus {
    padding-left: 2px;
    font-size: 1.05em;
    line-height: 4.3vh;
    font-weight: normal;
    vertical-align: top;
}
.cspt .mywindow,
.cspt #leftbar > div,
.cspt #avgstr,
.cspt .csplus
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.cspt #avgstr
{
    font-size: 2rem;
    line-height: 1.6;
}

.cspt .mywindow
{
    padding: 1rem;
    border: 0;
    border-radius: 0;
}

.cspt #scrambleTxt
{
    cursor: default;
    letter-spacing: 0.375rem;
    padding: 7px;
}

.cspt #leftbar {
    width: 17.2rem;
}

.cspt #scrambleDiv {
    left: 17.2rem;
}

.cspt #leftbar,
.cspt #leftbar > div
{
    border: 0;
    border-radius: 0;
}

.cspt .mywindow:not(.fixed)::before, .cspt #leftbar::before
{
    margin: 0px !important;
}

.cspt #leftbar::before, .cspt .mywindow::before, .cspt .popup, .cspt .dialog {
    box-shadow: 0 1px 8px rgba(0,0,0,0.2) !important;
    border-radius: 0;
}

.cspt .mywindow > .chide
{
    background-color: rgba(0,0,0,.2);
}

.cspt select, .cspt input[type='button'], .cspt input[type='text']
{
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    border: 0;
    margin: 0 0.25rem;
}

.cspt select > option {
    color: #000000;
}

.cspt .mybutton.enable, .cspt .tab.enable, .cspt .cntbar, .selected
{
    background-color: inherit;
}

.cspt input[type='button']
{
    padding: 0.375rem 0.75rem;
}

.cspt .table td, .cspt .table th, .cspt .table
{
    padding: 0.5rem;
}

.cspt .statc
{
    margin-top: 1rem;
}

.cspt .stattl
{
    margin-top: 0.5rem;
}

.cspt #leftbar .mybutton .icon
{
    height: 100%;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: feather !important;
    font-variant: normal;
}

@-moz-document url-prefix() {
    .cspt #leftbar .mybutton .icon {
        display: table-cell;
        vertical-align: middle;
    }
}

.cspt #leftbar .mybutton .icon:before
{
    font-size: 2rem;
}

.cspt #leftbar .mybutton.c1 .icon:before
{
    content: "\e9c4";
}

.cspt #leftbar .mybutton.c2 .icon:before
{
    content: "\e9ef";
}

.cspt #leftbar .mybutton.c3 .icon:before
{
    content: "\e925";
}

.cspt #leftbar .mybutton.c4 .icon:before
{
    content: "\e985";
}

.cspt #leftbar .mybutton.c5 .icon:before
{
    content: "\e954";
}

.cspt #leftbar .mybutton.c6 .icon:before
{
    content: "\e9d1";
}

/* Popup */

.cspt #gray {
    background-color: #000;
}

.cspt .dialog, .popup {
    border-radius: 0;
    border: 0;
}

.dialog .title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.cspt .tab {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    border: 0;
    padding: 0.375rem;
    border-radius: 0;
}

.cspt #inputTimer {
    width: 70% !important;
}

.cspt .tab.enable {
    background-color: rgba(255,255,255,0.2)
}

.cspt table.opttable td {
    padding: 0.75rem;
}
body.simple #leftbar, body.simple #stats {
    opacity: 0 !important;
}
body.simple #leftbar:hover, body.simple #stats:hover {
    opacity: 1 !important;
}

html.cspt:not(.m) .mywindow, html.cspt:not(.m) #leftbar {
    z-index: 1 !important;
}

html.cspt:not(.m) .mywindow:hover, html.cspt:not(.m) #leftbar:hover {
    z-index: 1 !important;
}

#inspDig {
    margin-top:0vh;
    margin-bottom:-8vh
}

.p150 #inspDig {
    margin-top:-27vh;
}

.p125 #inspDig {
    margin-top:-24vh;
}

.p110 #inspDig {
    margin-top:-21vh;
}

.p100 #inspDig {
    margin-top:-18vh;
}

.p90 #inspDig {
    margin-top:-15vh;
}

.p80 #inspDig {
    margin-top:-12vh;
}

.p70 #inspDig {
    margin-top:-9vh;
}

.forceHide {
    opacity: 0 !important;
}

.rgb #logo span {
    background-image: linear-gradient(145deg, #75de46, #12e396);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-animation: hue 10s infinite linear;
    animation-name: hue;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@-webkit-keyframes hue {
    from {
        filter:hue-rotate(0deg)
    }
    to {
        filter:hue-rotate(-360deg)
    }
}

.fire #logo span {
    -webkit-animation: fire 10s infinite ease-in-out;
    animation-name: fire;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes fire {
    0%, 40% {
        text-shadow: none;
    }
    50%, 68%, 86% {
        text-shadow: 0 0 22px #dd0000, -1px 0 22px #dd0000, 0 1px 22px #dd0000;
    }
    59%, 77% {
        text-shadow: 0 0 18px #d00000, -1px 0 18px #d00000, 0 1px 18px #d00000;
    }
    100% {
        text-shadow: none;
    }
}